{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:http_log{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            <th>URL</th>
            <th>Запрос</th>
            <th>Ответ</th>
            <th>http статус</th>
            <th>ip клиента</th>
            <th>вермя и дата</th>
        </tr>

        {# table body #}
        {% for log in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ log.url }}</td>
                <td>{{ log.request|json_encode }}</td>
                <td>{{ log.response|json_encode }}</td>
                <td>{{ log.httpStatus }}</td>
                <td>{{ log.clientIp }}</td>
                <td>{{ log.createdAt | date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
